{% extends 'base.html' %}

{% block content %}

<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-md-6 theme">
			<h3 class="pt-2"><b>About Page</b></h3> <hr>
				<p>
				<!--the context variable will go down in the double curly braces as thus;
				{{ my_text }}-->
				We care about your shopping experience, please navigate into our 
				products page using the liinks on the navigation bar 
				and select a product of your choice.
				</p>
		</div>
	</div>
</div>
{% endblock content %}